* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Rubik', sans-serif;

    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    display: inline-block;
}

/*fin RESET*/

/*estilo de color y tipografia*/
:root {

    --color--primary: #F28705;
    --color--secondary: #D9307F;
    --color--tertiary: #F2CB05;
    --color--background1: #F23DC2;
    --color--background2: #EF44F2;

    --main-dark: black;
    --main-light: white;

}

body {

    font-family: 'Jost*', sans-serif;
    font-weight: 400;
    overflow: auto;
    position: relative;

}

h1 {

    font-size:30px;
    font-weight: 600;
    letter-spacing: 3px;
}

h2 {

    font-size:20px;
    font-weight: 600;
    letter-spacing: 3px;
}

h4 {

    font-size:15px;
    font-weight: 600;
    letter-spacing: 3px;
    font-variant: small-caps;
}


/*estilo de la cabecera*/
.container__nav {
    width: 100%;
    max-height: 80px;
    align-items: center;
    justify-content: right;
    gap: calc(43%);
    padding: 15px 26px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-dark);
}

.container__nav h1 {
    display: flex;

    color: var(--color--tertiary);
}

.container__nav svg {

    color: var(--color--tertiary);
}

.container__tittle {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 80px;

}

.container__nav__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container__nav svg {
    width: 24px;
    display: none;
}

.container__nav__item__icon {
    width: 24px;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 1px;
    padding-bottom: 1px;
    transition: all 400ms ease;
    background-color: var(--color--tertiary);
}


/*estilo del menu desplegable*/
.container__popup{
    display: none;
    transition: 2s ease-in-out;
}

.container__pop__up__item{
    width: 100%;
    background-color: var(--main-dark);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    line-height: 50px;
    color: var(--main-light);
}



.container__pop__up__item li svg {

    width: 32px;
    fill: var(--main-light);
}

.container__pop__up__item li svg:hover {
    fill: var(--color--tertiary);
}

.container__pop__up__item li:hover {
    color: var(--color--tertiary);
}

.active {
    display: flex;
    position: fixed;
    top: 110px;
    width: 100vw;
    z-index: 40;
}

.close1 {
    transform: rotate(45deg);
}

.close2 {
    transform: rotate(-45deg);
}


/*estilo del div con el texto en movimiento*/
.line1 {
    background-color: var(--color--primary); 
    height: 110px; 
    width: 100%;
    display: flex;
    align-items: end;
    padding: 0 0 5px 0;
}

.line1 h4 {
    bottom: 0px;
    color: var(--main-dark);
    font-weight: 300;
}


/*estilo de la pagina CONTRATA: div con el formulario de busqueda*/
.line1.contrata {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color--tertiary);
}


/*estilo de los 3 divs de sugerencias*/
.container__suggest {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--color--background1);
}

.container__suggest__item {
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

.container__suggest__item.populares {
    order: 1;
}

.container__suggest__item.actuaciones {
    order: 2;
}

.container__suggest__item.eventos {
    order: 3;
}

.container__suggest__item__tittle {
    width: 100%;
    min-height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container__suggest__item__tittle.populares {
    background-color: var(--color--tertiary);
    color: var(--color--background1);
}

.container__suggest__item__tittle.actuaciones, .container__suggest__item__tittle.musico1  {
    background-color: var(--color--secondary); 
    color: var(--color--primary);
}

.container__suggest__item__tittle.eventos, .container__suggest__item__tittle.musico2  {
    background-color: var(--color--background2); 
    color: var(--color--tertiary);
}

.container__suggest__item__img {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;

    transition: all 1.5s;

}

.slider__img {
    width: 100%;
    width: 100%;
}


/*estilo de los pop ups de los 3 divs de sugerencias*/
.container__pop__up__populares {
    display: none;
    position: relative;
}

.active__populares {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.item__pop__up__populares ul {
    max-width: 50%;
    min-height: 220px;
    background-color: var(--main-light);
    list-style: none;
    position: absolute;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 0px 0px 30px;
    padding: 30px;

}

.item__pop__up__populares ul li h2 {
    color: var(--color--background1);
}

.order__populares {
    order: 0;
}

.container__pop__up__populares button {
    color: var(--main-light);
    background-color: var(--main-dark);
    border-radius: 10px;
}


.container__pop__up__actuaciones {
    display: none;
    position: relative;
}

.active__actuaciones {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.item__pop__up__actuaciones ul {
    max-width: 50%;
    min-height: 220px;
    background-color: var(--main-light);
    list-style: none;
    position: absolute;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 0px 0px 30px;
    padding: 30px;

}

.item__pop__up__actuaciones ul li h2 {
    color: var(--color--primary);
}

.order__actuaciones {
    order: 0;
}

.container__pop__up__actuaciones button {
    color: var(--main-light);
    background-color: var(--main-dark);
    border-radius: 10px;
}


.container__pop__up__eventos {
    display: none;
    position: relative;
}

.active__eventos {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.item__pop__up__eventos ul {
    max-width: 50%;
    min-height: 220px;
    background-color: var(--main-light);
    list-style: none;
    position: absolute;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 0px 0px 30px;
    padding: 30px;

}

.item__pop__up__eventos ul li h2 {
    color: var(--color--tertiary);
}

.container__pop__up__eventos button {
    color: var(--main-light);
    background-color: var(--main-dark);
    border-radius: 10px;
}


/*estilo del div decoratigo de separacion*/
.line2 {
    background-color:var(--color--background1); 
    height: 30px; 
    width: 100%;
}


/*estilo del div con los dropdowns de busqueda*/
.container__filters {
    width: 100%;
    min-height: 100px;
    background-color: var(--color--tertiary);
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container__filters form {
    appearance: none;
    font-family: inherit;
}

.container__filters form button {
    background-color: var(--main-dark);
    color: var(--main-light);
    border-radius: 10px;
}


/*estilo de la pagina CONTRATA: boton del formulario de busqueda*/
.line1.contrata button {
    background-color: var(--main-dark);
    color: var(--main-light);
    border-radius: 10px;
}


/*CONTINUA estilo del div con los dropdowns de busqueda*/
.container__filters__select {
    border: none;
    color: var(--main-dark);
    height: fit-content;
    background-color: var(--color--tertiary);
}

.container__filters__select option {
    font-style: none;
    appearance: none;
    background-color: var(--main-light);
}

.container__filters__select option:hover {
    background-color: var(--main-dark);
}


/*estilo del div con informacion de ayuda*/
.container__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container__info div {
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 30px;
    gap:15px;
}

.container__info .container__info__titlle {
    background-color: var(--main-dark);
    color: var(--main-light);
    text-align: center;
}

.container__info .container__info__info-img {
    background-color: var(--main-light);
    color: var(--main-dark);
}

.container__info .info__img {
    width: 32px;
}


/*estilo del pie de pagina con 4 divs*/
footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: first baseline;
    padding-top: 20px;
    background-color: var(--color--secondary);
    color: var(--main-light);
    gap: 10px;
}

footer div {
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    gap:15px;
    text-align: center;
}

footer div ul li h4{
    font-weight: 200;
}

footer div ul li svg {
    width: 32px;
}