* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Rubik', sans-serif;

    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    display: inline-block;
}

/*RESET*/


:root {

    --color--primary: #F28705;
    --color--secondary: #D9307F;
    --color--tertiary: #F2CB05;
    --color--background1: #F23DC2;
    --color--background2: #EF44F2;

    --main-dark: black;
    --main-light: white;

}

body {

    font-family: 'Jost*', sans-serif;
    font-weight: 400;
    overflow: auto;
    position: relative;

}

h1 {

    font-size:25px;
    font-weight: 600;
    letter-spacing: 3px;
}

h2 {

    font-size:20px;
    font-weight: 600;
    letter-spacing: 3px;
}

h4 {

    font-size:15px;
    font-weight: 600;
    letter-spacing: 3px;
    font-variant: small-caps;
}

.container-nav {
    width: 100%;
    max-height: 80px;
    align-items: center;
    justify-content: right;
    gap: calc(45%);
    padding: 15px 26px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-dark);
}

.container-nav h1 {
    display: flex;

    color: var(--color--tertiary);
}

.container-nav svg {

    color: var(--color--tertiary);
}

.container-tittle {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 80px;

}

.container-nav__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-nav svg {
    width: 24px;
    display: none;
}

.container-nav__item__icon {
    width: 24px;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 1px;
    padding-bottom: 1px;
    transition: all 400ms ease;
    background-color: var(--color--tertiary);
}

.container-popup{
    display: none;
}

.container-pop-up__item{
    width: 100%;
    background-color: var(--main-dark);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    line-height: 50px;
    color: var(--main-light);
}

.container-pop-up__item li svg {

    width: 32px;
    stroke: var(--main-light);
}

.container-pop-up__item li svg:hover {
    stroke: var(--color--tertiary);
}

.container-pop-up__item li:hover {
    color: var(--color--tertiary);
}

.active {
    display: flex;
    position: fixed;
    top: 100px;
    width: 100vw;
}

.line1 {
    background-color: var(--color--primary); 
    height: 100px; 
    width: 100%;
    display: flex;
    align-items: end;
    padding: 0 0 5px 0;
}

.line1 h4 {
    bottom: 0px;
    color: var(--main-light);
    font-weight: 300;
}


.container-suggest {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-suggest__item {
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

.container-suggest__item__tittle {
    width: 100%;
    min-height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-suggest__item__tittle.populares {
    background-color: var(--color--tertiary);
    color: var(--color--background1);
}

.container-suggest__item__tittle.actuaciones {
    background-color: var(--color--secondary); 
    color: var(--color--primary);
}

.container-suggest__item__tittle.novedades {
    background-color: var(--color--background2); 
    color: var(--color--tertiary);
}

.container-suggest__item__img {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: translateX();

    transition: 5s;
}

.container-suggest__item__img.populares {
    background-color: var(--color--background1);
}

.container-suggest__item__img.actuaciones {
    background-color: var(--color--tertiary);
}

.container-suggest__item__img.eventos {
    background-color: var(--color--primary);
}

.slider-img {
    width: 100%;
    width: 100%;
}


.line2 {
    background-color:var(--color--background1); 
    height: 30px; 
    width: 100%;
}

.container-filters {
    width: 100%;
    min-height: 100px;
    background-color: var(--color--primary);
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-filters__select {
    border: none;
    background-color: var(--color--primary);
    color: var(--main-light);
    height: fit-content;
}

.container-filters__select option {
    font-style: none;
}

.container-filters__select option:hover {
    background-color: var(--main-dark);
}

.container-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container-info div {
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    gap:15px;
}

.container-info .container-info__titlle {
    background-color: var(--main-dark);
    color: var(--main-light);
    text-align: center;
}

.container-info .container-info__info-img {
    background-color: var(--main-light);
    color: var(--main-dark);
}

.container-info .info-img {
    width: 32px;
}